@use './utils';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  // font-family
  --ff-display: 'Ubuntu', serif;
  --ff-mono: monospace;
  --ff-sans: 'Inter', Helvetica, Arial, sans-serif;

  --ff-headings: 'Ubuntu', serif;
  --ff-body: 'Inter', Helvetica, Arial, sans-serif;

  // font-size
  font-size: 62.5%;
  --fs-xs: 1rem;
  --fs-sm: 1.2rem;
  --fs-base: 1.4rem;
  --fs-md: 1.8rem;
  --fs-lg: 2.4rem;
  --fs-xl: 3.2rem;
  --fs-2xl: 4rem;
  --fs-3xl: 4.8rem;

  // font weight
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: var(--fs-base);
  font-family: var(--ff-body);
  font-weight: var(--fw-normal);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-headings);
}
