@use './reset';
@use './variables';
@use './typography';
@use './theme';
// @use './utils';
@use './components/button';
@use './components/carousel';
@use './components/form';
@use './components/modal';

img {
  pointer-events: none;
  user-drag: none;
  user-select: none;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -8px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 8px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
}

.aspect-ratio-16x9 {
  width: 100%; /* Set the container width to 100% to make it responsive */
  padding-bottom: 56.25%; /* Maintain a 16x9 aspect ratio (16/9 = 1.7778 or 56.25%) */
  position: relative; /* Position relative for absolute positioning of img */
  overflow: hidden; /* Hide any overflow content from the image */
  display: inline-block;

  img {
    position: absolute; /* Position the image absolutely within the container */
    width: 100%; /* Make the image fill the container width */
    height: 100%; /* Make the image fill the container height */
    object-fit: cover; /* Ensure the image covers the container, cropping if necessary */
    top: 0; /* Position the image at the top within the container */
    left: 0; /* Position the image at the left within the container */
  }
}

.aspect-ratio-1x1 {
  width: 100%; /* Set the container width to 100% to make it responsive */
  padding-bottom: 100%; /* Maintain a 1x1 aspect ratio (1:1) */
  position: relative; /* Position relative for absolute positioning of img */
  overflow: hidden; /* Hide any overflow content from the image */
  display: inline-block;

  img {
    position: absolute; /* Position the image absolutely within the container */
    width: 100%; /* Make the image fill the container width */
    height: 100%; /* Make the image fill the container height */
    object-fit: cover; /* Ensure the image covers the container, cropping if necessary */
    top: 0; /* Position the image at the top within the container */
    left: 0; /* Position the image at the left within the container */
  }
}

.aspect-ratio-4x5 {
  width: 100%;
  padding-bottom: 125%; /* 4:5 aspect ratio (5 / 4 * 100%) */
  position: relative;
  overflow: hidden;
  display: inline-block;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
}

/* CSS styles for a 9x16 aspect ratio */
.aspect-ratio-9x16 {
  width: 100%;
  padding-bottom: 177.78%; /* 9x16 aspect ratio (16 / 9 * 100%) */
  position: relative;
  overflow: hidden;
}

.aspect-ratio-9x16 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

/* CSS styles for a 3:2 aspect ratio */
.aspect-ratio-3x2 {
  width: 100%;
  padding-bottom: 66.67%; /* 3:2 aspect ratio (2 / 3 * 100%) */
  position: relative;
  overflow: hidden;
}

.aspect-ratio-3x2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

/* CSS styles for a 2:3 aspect ratio */
.aspect-ratio-2x3 {
  width: 100%;
  padding-bottom: 150%; /* 2:3 aspect ratio (3 / 2 * 100%) */
  position: relative;
  overflow: hidden;
}

.aspect-ratio-2x3 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;

  // &::after {
  // 	content: url('/images/logo.jpg'); /* with class ModalCarrot ??*/
  // 	position: relative; /*or absolute*/
  // 	z-index: 100000; /*a number that's more than the modal box*/
  // 	left: -50px;
  // 	top: 10px;
  // }

  // &::before {
  // 	content: '';
  // 	position: absolute;
  // 	top: 0;
  // 	left: 0;
  // 	width: 40px;
  // 	height: 40px;
  // 	z-index: 100000; /*a number that's more than the modal box*/
  // 	background: url('/images/logo.jpg') center center no-repeat;
  // 	opacity: 0.5; /* Adjust the opacity to control watermark visibility */
  // 	pointer-events: none; /* Allows clicking through the watermark */
  // }
}

/* CSS styles for a dynamic aspect ratio */
.aspect-ratio-dynamic {
  width: 100%; /* Set the width to 100% of the parent container */
  position: relative;
  overflow: hidden;

  img {
    width: 100%; /* Set the width of the image to 100% */
    height: auto; /* Allow the image height to adjust based on its aspect ratio */
    display: block; /* Ensure the image behaves as a block element */
  }
}

.cake-image-container {
  img {
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
  }
}
