.carousel-container {
  width: auto;
  overflow: hidden;

  .carousel {
    height: 100%;
    width: 100%;
    display: flex;

    .item {
      flex: 0 0 100%;
      height: 100%;
      width: 100%;
    }
  }
}
