.heading {
  text-align: center;
}

.submitButton {
  width: 100%;
  margin-top: var(--spacing-md);
  background-color: var(--clr-accent-2);
  color: var(--clr-txt-primary-on-bg-accent-2);
  font-weight: var(--fw-bold);
}

.cancelButton {
  width: 100%;
  margin-top: var(--spacing-md);
  background-color: var(--clr-bg-primary);
  border: 1px solid #000000;
  font-weight: var(--fw-bold);
}
