@use '../../styles/utils';

.error {
  color: red;
  font-weight: bold;
}

.centered {
  text-align: center;
  padding: 32px 16px;
}

.container {
  @include utils.respond-to('md-screens') {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 16px;
  }
}

.cakeImage {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  position: relative;

  @include utils.respond-to('md-screens') {
    height: 100vh;
  }
}

.cakeImageLogo {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 102px;
  height: 102px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.8;
  pointer-events: none;
  z-index: 5;
}

.cakeFormContainer {
  background-color: var(--clr-bg-secondary);
  border-radius: 16px;
  width: 90vw;
  margin: var(--spacing-md) auto var(--spacing-md) auto;
  padding: var(--spacing-md);
  -webkit-box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.6);

  @include utils.respond-to('md-screens') {
    width: 90%;
  }
}

.cakeName {
  font-size: var(--fs-md);
  font-weight: 700;
  margin: var(--spacing-sm) 0 0 0;
}

.cakePrice {
  font-size: var(--fs-sm);
  color: #292929ff;
  font-weight: 700;
}

.staffList {
  display: flex;
  overflow-x: auto;
  gap: 6px;
  padding: 8px 0;
  margin: 0;
  list-style: none;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.staffItem {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  border-radius: 10px;
  background-color: #f9f9f9;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  scroll-snap-align: start;
  min-width: 140px;
  margin-left: 0;
  width: fit-content;

  &:hover {
    background-color: #f0f0f0;
  }
}

.selected {
  border: 2px solid var(--clr-accent-2);
  background-color: #e7f1ff;
}

.avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  strong {
    font-size: 15px;
    color: #333;
  }

  p {
    font-size: 13px;
    color: #777;
    margin: 0;
  }
}
